<%= simple_form_for @menu , url: {action: action} do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="email">Data:</label>
    <br / >
    <%= f.date_select :data, start_year: 2015, end_year: Time.now.year %>
  </div>
  <div class="form-group">
    <label class="" for="weekday">Dia da Semana:</label>
    <br />
    <%= f.select(:weekday, options_for_select([['Domingo', 'Domingo'], ['Segunda-feira', 'Segunda-feira'], ['Terça-feira', 'Terça-feira'], ['Quarta-feira', 'Quarta-feira'], ['Quinta-feira', 'Quinta-feira'], ['Sexta-feira', 'Sexta-feira'], ['Sábado']]))  %>
  </div>
  <div class="form-group">
    <label class="sr-only">Preço</label>
    <%= f.input :price, label: 'Preço' %>
  </div>
  <div class="checkbox">
    <%= f.input :status, label: 'Status do cardápio (Ativo / Inativo)' %>
  </div>

  <%= f.hidden_field :establishment_id, label: 'Estabelecimento' %>

  <%= f.button :submit , :class => "btn btn-success" %>
</form>

<% end %>