<p id="notice"><%= notice %></p>

<h1>Cidades</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.state.name %></td>
        <td><%= link_to 'Visualizar', city %></td>
        <td><%= link_to 'Editar', edit_city_path(city) %></td>
        <td><%= link_to 'Remover', city, method: :delete, data: { confirm: 'Tem certeza que deseja remover?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo', new_city_path %>
